.dark{
    --bg: rgb(13, 6, 32);
    --innerElem: rgb(36, 36, 36);
    --cardBg: #333;
    --text: #fff;
    --boxShadow: 0px 0px 25px rgba(0, 0, 0, 0.482);
    --lightSadow: 0px 0px 3px rgba(0, 0, 0, 0.35);

    .lightLogo{
        display: none;
    }
}

.light{
    --bg: #f5f5f5;
    --innerElem: #e9eaed;
    --cardBg: #fff;
    --text: #333;
    --boxShadow: 0px 0px 25px rgba(218, 209, 209, 0.55);
    --lightSadow: 0px 0px 3px rgba(210, 193, 193, 0.35);

    .darkLogo{
        display: none;
    }
}

html, body {
    height: auto !important;
    width: auto !important;
}


body{
    background-color: var(--bg);
    color: var(--text);
    background-image: url("https://desktop.github.com/images/star-bg.svg");
    background-repeat: repeat-x;
    background-position: right;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
    animation: mte 1.5s 0s forwards ease-in-out;
    transition: background-color 100ms ease-in-out, color 200ms ease-in-out !important;
    overflow-x: hidden;
}


@keyframes mte {
    0% {
        background-position: right;
    }

    100%{
        background-position: center 0, 0 0, 0 0;
    }
}

@keyframes dgb {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes tgb {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 0.75;
    }
}


.welcome{
    text-align: center;
    border-radius: 50px;
    padding: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .logo-cont{
        opacity: 0;
        animation: dgb 1s 0.8s forwards ease-in-out;
    }

    img{
        width: 120px;
        margin: 0 auto;
        display: block;
        
    }

    h1{
        font-size: 50px;
        opacity: 0;
        animation: dgb 1s 1s forwards ease-in-out;
    }

    h2{
        font-size: 25px;
        opacity: 0.86;
        font-weight: 400;
        opacity: 0;
        animation: dgb 1s 1.2s forwards ease-in-out;
    }

    a{
        text-decoration: none;
        background-color: var(--innerElem);
        padding: 0 20px;
        height: 50px;
        display: inline-block;
        border-radius: 50px;
        line-height: 50px;
        color: var(--text);
        transition: 0.3s background ease-in-out;
        margin-top: 10px;
        opacity: 0;
        animation: dgb 1s 1.4s forwards ease-in-out;

        &:hover, &:active, &:focus{
            transform: translateY(-3px);
            background-color: var(--cardBg);
        }

        svg{
            font-size: 20px;
            padding-right: 15px;
            padding-top: 15px;
            display: block;
            float: left;
        }
    }
}

.search-box ul::-webkit-scrollbar, .group-list::-webkit-scrollbar, .modal .inner::-webkit-scrollbar, .nav-items::-webkit-scrollbar{
    width: 12px;
}
 
.search-box ul::-webkit-scrollbar-thumb, .group-list::-webkit-scrollbar-thumb, .modal .inner::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--innerElem);
    cursor: pointer;
}

.nav-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cardBg);
    cursor: pointer;
}


.search-box ul::-webkit-scrollbar-thumb:hover, .group-list::-webkit-scrollbar-thumb:hover, .modal .inner::-webkit-scrollbar-thumb:hover, .nav-items::-webkit-scrollbar-thumb:hover{
    border-radius: 10px;
    background-color: rgb(31, 30, 30);
    cursor: pointer;
}

@keyframes tom {
    0%{
        border-radius: 50px;
    }
    
    100%{
        border-radius: 50px 50px 0px 0px;
    }
}

.dashboard{
    color: var(--text);

    .backdrop{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 88;
        left: 0;
        top: 0;
    }

    .search-box{
        position: absolute;
        right: 230px;
        top: 115px;
        z-index: 9999;
        height: 500px;
        background-color: var(--cardBg);
        border-radius: 0px 0px 50px 50px;
        box-shadow: var(--boxShadow);
        display: block !important;
        overflow: hidden;
        opacity: 0;
        animation: dgb 0.3s 0.1s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
        

        .inner{
            overflow: hidden;
            padding: 25px 20px 0px 20px !important;

            .results{
                margin-bottom: 0px !important;
                height: 460px;
            }
        }
    }

    header{
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        animation: dgb 0.5s 0.1s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);

        .logo{
            width: 50px;
        }
 
        .search-open{
            grid-template-columns: 2.5fr 65px 0.5fr 1fr 65px !important;

            .search:hover{
                transform: none !important;
            }

            input{
                width: 100%;
                background-color: transparent;
                border: 0px;
                font-size: 20px;
                font-size: 18px;
                color: var(--text);
                outline: 0;
            }
        }

        .results-showing{
            .search{
                border-radius: 50px;
                animation: tom 0.3s 0.1s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
        }
        
        .nav-items{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            display: grid;
            grid-template-columns: 1fr 65px 0.5fr 1fr 65px;
            grid-gap: 20px;

            a{
                text-decoration: none;
                color: var(--text);
                
            }

            .nav-item{
                background-color: var(--cardBg);
                color: var(--text);
                padding: 0px 20px;
                border-radius: 50px;
                font-size: 20px;
                box-shadow: var(--boxShadow);
                display: flex;
                justify-content: flex-start;
                height: 65px;
                line-height: 65px;
                transition: 0.3s transform ease-in-out;
                position: relative;
                cursor: pointer;

                &:hover, &:active, &:focus{
                    transform: translateY(-3px);
                }

                .mm{
                    display: none;
                }

                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50px;
                    margin-top: 15px;
                }

                svg{
                    font-size: 25px;
                    margin-top: 20px;
                    
                }

                span, input{
                    margin-left: 15px;
                }

               
            }
        }
    }

    .repo-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        grid-gap: 50px;
        
        .public{
            animation: dgb 0.5s 0.5s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .private{
            animation: dgb 0.5s 0.7s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .delete{
            animation: dgb 0.5s 0.9s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        ul{
            list-style-type: none;
            padding: 0px;
            overflow-y: scroll;
            height: calc(100% - 50px);
            padding-right: 10px;

            .repo{
                background-color: var(--innerElem);
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
                padding: 25px;
                margin-bottom: 10px;
                border-radius: 10px;
                transition: 0.3s all ease-in-out;
                overflow: visible;

                .header{
                    line-height: 35px;

                    .name{
                        font-size: 17px;
                        color: var(--text);
                        text-decoration: none;
                        transition: 0.3s all ease-in-out;

                        &:hover{
                            opacity: 0.85;
                        }
                    }

                    svg{
                        font-size: 20px;
                    }

                    
                }

                .btn{
                    background-color: var(--cardBg);
                    padding: 10px 15px;
                    margin-top: 15px;
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 12px;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: 0.3s transform ease-in-out, 0.3s box-shadow ease-in-out;
                    box-shadow: var(--lightSadow);

                    &:hover{
                        transform: translateY(-2px);
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32);
                    }

                    svg{
                        font-size: 12px;
                        padding-right: 10px;
                    }
                }

                p{
                    font-weight: 300;
                    padding-top: 15px;
                    font-size: 14.5px;
                    margin: 0px;
                }

                .stats{
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    padding: 15px 0;

                    a{
                        text-decoration: none;
                        color: var(--text);
                        transition: 0.3s transform ease-in-out;

                        &:hover, &:active, &:focus{
                            transform: translateY(-2px);
                        }
                    }

                    li{
                        background-color: var(--cardBg);
                        box-shadow: var(--lightSadow);
                        padding: 10px 15px;
                        border-radius: 50px;
                        display: flex;

                        svg{
                            padding-right: 10px;
                            padding-top: 2px;
                        }
                    }
                }

                a.gh-link{
                    text-decoration: none;
                    color: var(--text);
                    font-weight: 400;
                    opacity: 0.75;
                    transition: 0.3s opacity ease-in-out;

                    &:hover{
                        opacity: 1;
                    }

                    svg{
                        padding-right: 10px;
                    }
                }

                footer{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                }
            }
        }

        .group{
            background-color: var(--cardBg);
            box-shadow: var(--boxShadow);
            border-radius: 50px;
            padding: 30px 50px 0px 50px;
            height: 67vh;
            position: relative;
            overflow: hidden;
            opacity: 0;
            
            .loader{
                position: absolute;
                top: 50%;
                left: 50%;
            }
            
            h3{
                text-transform: uppercase;

                svg{
                    float: right;
                    font-size: 23px;
                    opacity: 0.5;
                }
            }

            .notice{
                font-size: 18px;
                line-height: 28px;
                opacity: 0.85;
            }

            .delete-list{
                height: calc(100% - 83px);
            }

            

            .delete-button{
                bottom: 0;
                position: absolute;
                width: 100%;
                left: 0;
                height: 50px;
                background-color: #7f0505;
                border: 0px;
                outline: 0px;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
                box-shadow: var(--boxShadow);
                transition: 0.3s background-color ease-in-out;
                cursor: pointer;

                &:hover{
                    background-color: #710505;
                }

                svg{
                    padding-right: 15px;
                }
            }
        }
    }

    .overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.45);
    }

    .modal{
        z-index: 999;
        position: fixed;
        width: 70vw;
        height: 60vh;
        background-color: var(--cardBg);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.55);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        overflow: hidden;
        
        .inner{
            padding: 50px;
            overflow-y: auto;
            height: 75%;
        }

        .header{
            display: grid;
            grid-template-columns: 1fr 15px;
            justify-content: space-between;

            svg{
                font-size: 25px;
                padding-top: 10px;
            }
        }

        a, svg.close-icon{
            color: var(--text);
            text-decoration: none;
            transition: 0.3s opacity ease-in-out;
            cursor: pointer;
            
            &:hover{
                opacity: 0.85;
            }
        }

        @keyframes numb {
            0% {
                transform: translateY(10px);
            }

            50%{
                transform: translateY(-10px);
            }

            100%{
                transform: translateY(10px);
            }
        }

        .deleting{
            .no-anim{
                animation: none;
            }

            svg{
                text-align: center;
                font-size: 80px;
                margin: 0 auto;
                display: block;
                padding: 50px 0;
                animation: numb 1s ease-in-out 0s infinite;
            }

            p{
                text-align: center;
                width: 30vw;
                margin: 0 auto 15px auto;
            }

           
        }

        .content{
            ul{
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                grid-gap: 10px;
                padding-top: 15px;

                li{
                    background-color: var(--innerElem);
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
                    padding: 20px;
                    border-radius: 10px;

                    .header svg{
                        font-size: 18px;
                        padding-top: 0px;
                        padding-left: 5px;
                    }

                    a{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p{
                        margin: 0px;
                        padding-top: 10px;
                        font-size: 14px;
                        opacity: 0.85;
                    }
                }
            }

            .delete-button{
                bottom: 0;
                position: absolute;
                width: 100%;
                left: 0;
                height: 50px;
                background-color: #7f0505;
                border: 0px;
                outline: 0px;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
                box-shadow: var(--boxShadow);
                transition: 0.3s background-color ease-in-out;
                cursor: pointer;

                &:hover{
                    background-color: #710505;
                }

                svg{
                    padding-right: 15px;
                }
            }
            
        }
    }
}

.mm-open{
    overflow: hidden;
}

footer.welc{
    position: fixed;
    bottom: 0;
    left: 0;
}

@media(max-width: 1180px){

    .welcome{
        padding: 10px;
        width: 90vw;

        .logo-cont{
            img{
                width: 80px;
            }

            padding-bottom: 10px;
        }

        h1{
            font-size: 28px;
        }

        h2{
            font-size: 20px;
        }
        
    }

    .nav-items{
        display: none !important;
    }

    .mobileMenu{
        display: block !important;
        font-size: 30px;
        margin-top: 10px;
    }

    .search-box{
        margin-top: 85px !important;
    }

    .backdrop{
        margin-top: 120px;
    }

    .mobile-open{
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 77;
        left: 0;
        top: 0;
        margin: 0px !important;
        display: block !important;
        position: fixed;
        background-color: var(--innerElem);
        padding-top: 50px;
        
        .mm{
            display: block !important; 
        }

        .brand{
            padding-left: 25px;
            padding-bottom: 20px;
        }

        .closeMenu{
            float: right;
            margin-right: 25px;
            font-size: 30px;
            margin-top: 10px;
            z-index: 9999999;
        }

        .mobileMenu{
            display: none !important;
        }

        .nav-items{
            display: block !important;
            z-index: 999999999;
            background-color: var(--innerElem); 
            overflow-y: auto;
            height: calc(100vh - 125px);

            .nav-item{
                margin: 15px 25px;
            }
        }
    }
}

.mobileMenu, .mm{
    display: none;
}

@media(max-width: 730px){ 
    body{
        padding: 0 25px;
    }

    .dashboard{
        .repo-list{
            display: block;

            ul{
                padding-right: 5px !important;
            }

            .repo{
                padding: 15px !important;
            }
        }

        .group{
            border-radius: 20px !important;
            padding: 10px 15px !important;
            margin-bottom: 20px;
        }

        .modal{
            width: 100%;
            top: 0;
            height: 100%;
            transform: none;
            left: 0;
            border-radius: 0px;
        }
    }
}

footer.site-footer{
    padding: 35px 0;
    text-align: center;
    width: 100%;
    opacity: 0; 
    animation: tgb 0.5s 1.5s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
    a{
        color: var(--text);
        text-decoration: none;
        opacity: 0.75;
        transition: 0.3s opactiy ease-in-out;

        &:hover{
            opacity: 1;
        }
    }


}